<h1>Flow Info</h1>
<hr>
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Details</div>
  <div class="card-body">
    <form [formGroup] = "flowForm">
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>Name</label>
            <input type="text" class="form-control" 
            placeholder="Name"
            formControlName="name"
            [maxLength]="100"
            autofocus>
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
        </div>
      </div>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>Step No</label>
            <input type="number" class="form-control" 
            placeholder="1"
            min="1"
            max="10"
            formControlName="stepNo">
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
        </div>
      </div>
      <div class="form-group required">
          <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label>Description</label>
              <input type="text" class="form-control" 
              placeholder="Description"
              formControlName="description"
              [maxLength]="200">
            </div>
            <div class="col-md-2"><label class='control-label'></label></div>
          </div>
        </div>
      <div class="form-group">
          <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <button class="btn btn-primary btn-block col-md-2 right" (click)="saveFunc()">Save</button>
            </div>
            <div class="col-md-2"></div>
          </div>
      </div>
    </form>
  </div>
</div>
