/* You can add global styles to this file, and also import other style files */
@import  "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    background-color: #115896;
    height: 100%;
}

table,tbody,td {
  padding: .4em !important;
  vertical-align: middle !important;
}

.right {
  float: right;
}

.dropdown-menu > button:hover {
  background-color: #0b5290;
  color: white;
}

.form-group.required .control-label:after { 
  content:"*";
  color:red;
  vertical-align: middle;
}

.mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.shared-body {
  background-color: white;
  min-height: 200px;
  padding: 40px 40px 100px 40px;
}

.home-img {
  height: 350px;
  width: 100%;
}

.about-img {
  width: 100%;
}

.skype-img {
  width: 35px;
}

.card-info {
  border: 1.25px solid #0a67cc;
}

.text-blue {
  color: #0d529c !important;
}

.text-dark {
  color: black !important;
}

.text-shadow {
  text-shadow: -1px 3px 5px #C6C6C6;
}

.leftpane {
  border-right: 1px solid #e1e1e1;
  padding-right: 3%;
}

.rightpane {
  padding-left: 3%;
  word-wrap: break-word;
}

.about-link {
  text-decoration:none !important;
}

.set-right {
  text-align: right;
  display: block;
}

.set-left {
  text-align: left;
  display: block;
}

.progress-margin {
  margin-left: 6%;
  margin-right: 6%;
}

.no-padding {
  padding: 0;
}

.font-small {
  font-size: small;
}

.font-xsmall {
  font-size: x-small;
}

.font-large {
  font-size: x-large;
}

.font-bold {
  font-weight: 450;
}

mat-step-header ~ .mat-stepper-vertical-line {
  height: 30px;
}

mat-step-header > .mat-step-label {
  width: 100%;
  color: #0d529c !important;
  font-size: small;
}

.padding-top {
  padding-top: 20px;
}