/* You can add global styles to this file, and also import other style files */
@import  "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    background-color: #115896;
}

table,tbody,td {
  padding: .4em !important;
  vertical-align: middle !important;
}

.right {
  float: right;
}

.dropdown-menu > button:hover {
  background-color: #0b5290;
  color: white;
}

.form-group.required .control-label:after { 
  content:"*";
  color:red;
  vertical-align: middle;
}

.mat-horizontal-stepper-header{
  pointer-events: none !important;
}