/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: #115896;
}

table,tbody,td {
  padding: .4em !important;
  vertical-align: middle !important;
}

.right {
  float: right;
}
