<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <div class="alert alert-danger" [hidden]="!isShow" [innerHTML]="errString"></div>
      <form [formGroup] = "loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" class="form-control text-login" 
          placeholder="User Name"
          formControlName="userName"
          autofocus="autofocus"
          required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control text-login" 
          placeholder="Password"
          formControlName="password" 
          required>
        </div>
        <p class="mt-5 mb-3 text-muted text-center"></p>
        <button class="btn btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">© VOSA DSL</p>
  </div>
</div>