<h1>User Info</h1>
<hr>
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Create an User</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
          </div>
          <div class="col-md-6">
            <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
          </div>
          <div class="col-md-6">
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
          </div>
        </div>
      </div>
      <a class="btn btn-primary btn-block" href="login.html">Save</a>
    </form>
  </div>
</div>