<h1>User Info</h1>
<hr>
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Create an User</div>
  <div class="card-body">
    <form [formGroup] = "userForm">
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" 
            placeholder="Full name"
            formControlName="fullName"
            [maxLength]="20"
            autofocus>
          </div>
          <div class="col-md-3"><label class='control-label'></label></div>
        </div>
      </div>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" 
            placeholder="User name"
            formControlName="userName"
            [maxLength]="20"
            [attr.disabled]="isDisabled">
          </div>
          <div class="col-md-3"><label class='control-label'></label></div>
        </div>
      </div>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" 
            placeholder="Email address"
            formControlName="email"
            [maxLength]="50">
          </div>
          <div class="col-md-3"><label class='control-label'></label></div>
        </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-check text-success">
                    <input class="form-check-input" type="checkbox"
                    formControlName="isActive"
                    required 
                    (ngModel)='isActive'>
                    <label class="form-check-label">
                      Active
                    </label>
                  </div>
            </div>
            <div class="col-md-3"></div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block col-md-2 right" (click)="saveFunc()">Save</button>
            </div>
            <div class="col-md-3"></div>
          </div>
      </div>
    </form>
  </div>
</div>
