<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-primary">
        <span aria-hidden="true" class="fa fa-question-circle"></span>
        {{title || 'Confirmation'}}
      </h5>
      <button type="button" class="close" (click)="close()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{message || 'Are you sure?'}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()" >Cancel</button>
      <button type="button" class="btn btn-success" (click)="confirm()">{{buttonTitle}}</button>
    </div>
  </div>
</div>
