<div class="card">
  <div class="card-body card-info">
      <h3>
          <i class="fa fa-ship text-blue"><strong>Track and Trace</strong></i>
      </h3>
      <div class="form-group row">
          <div class="col-sm-10">
              <input type="search" class="form-control" ng-model="searchtext" placeholder="Please enter your Bill of Lading Number at here">
          </div>
          <div class="col-sm-2">
              <button type="submit" ng-click="submit(searchtext)" value="Submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>            
          </div>
      </div>
  </div>
  </div>
<br/>
<p class="justify-content-center">
    We are TOPAZ MARINE, one of the Asia’s leading transport companies. As a major non-vessel operating common carrier (NVOCC), 
    we can offer our customers competitive rates with all major shipping lines as well as flexible solutions for different sea freight 
    requirements to Incheon, Busan, Phnompenh, Sihanoukville, Singapore, Hongkong, Bangkok, Laem Chabang, Port Klang, Pasir Gudang, Penang, 
    Jakarta, Manila, Xiamen, Shanghai, Qingdao, Huangpu, Shekou. 
</p>


