<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  <img src='/pics/logo.png' class="logo">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="p-1 text-blue text-shadow" routerlink="/">VOSA</a>
  </h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-blue text-shadow" routerLink="/">Home</a>
    <a class="p-2 text-blue text-shadow" routerLink="/about">About</a>
    <a class="p-2 text-blue text-shadow" routerLink="/contact">Contact</a>
    <a class="p-2 text-blue text-shadow" (click)="downLoad()" href="#">Shedule</a>
  </nav>
</div>