<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-danger">
        <span aria-hidden="true" class="fa fa-warning"></span>
        {{title || 'Warning'}}
      </h5>
      <button type="button" class="close" (click)="close()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Oops something went wrong!</p>
      <ul class="text-danger" *ngIf="isArray">
        <li *ngFor="let msg of message">
          {{ msg }}
        </li>
      </ul>
      <ul class="text-danger" *ngIf="!isArray">
        <li>{{message}}</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="close()" >Got it</button>
    </div>
  </div>
</div>
