<div class="alert alert-info" [hidden]="isShow">
  <label>No any data found ! Please contact us for further info. </label>
  <a routerLink="/"> Click here to go back Home page</a>
</div>
<div [hidden]="!isShow">
  <div class="row">
    <div class="col-4">
        <h3><i class="fa fa-ship text-shadow text-blue set-left"><strong> {{id}}</strong></i></h3>
        <h5><i class="text-shadow text-blue set-left"><strong>B/L Status: {{shipData.voyageNo}}</strong></i></h5>
    </div>
    <div class="col-8">
      <h4><label class="text-blue text-shadow set-right"><strong> {{shipData.carton}} CARTONS - {{shipData.weight}} kgs - {{shipData.cubicMeter}} cbm</strong></label></h4>
    </div>
  </div>
  <br/>
  
  <mat-horizontal-stepper labelPosition="bottom">
    <ng-template matStepperIcon="number">
      <mat-icon>done</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
    <mat-step>
      <ng-template matStepLabel>
        <h5><span class="badge badge-success">{{shipData.depShortName}}</span></h5>
        <span matTooltip="Place of Receipt">
          Place of Receipt
        </span>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isLoading">
      <ng-template matStepLabel>
        <h5><span class="badge badge-success">{{shipData.depShortName}}</span></h5>
        <span matTooltip="Act. Departure">
          Port of Loading<br/><strong>Departure <br/> {{shipData.actDepartureDate | date:'dd/MM/yyyy'}}</strong>
        </span>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isTranArr">
      <ng-template matStepLabel>
        <h5><span class="badge badge-success">{{shipData.transShortName}}</span></h5>
        <span matTooltip="Port of Transshipment">
          Port of Transshipment<br/><strong>Arrival Date <br/> {{shipData.transArrivalDate | date:'dd/MM/yyyy'}}</strong>
        </span>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isTranDep">
      <ng-template matStepLabel>
        <h5><span class="badge badge-success">{{shipData.transShortName}}</span></h5>
        <span matTooltip="Port of Transshipment">
          Port of Transshipment<br/><strong>Departure Date <br/> {{shipData.transDepartureDate | date:'dd/MM/yyyy'}}</strong>
        </span>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isDischarged">
      <ng-template matStepLabel>
        <h5><span class="badge badge-success">{{shipData.destShortName}}</span></h5>
        <span matTooltip="Port of Discharge Est">
          Port of Discharge Est<br/><strong>Discharge <br/> {{shipData.estDischargeDate | date:'dd/MM/yyyy'}}</strong>
        </span>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isDelivery">
      <ng-template matStepLabel>
        <h5><span class="badge badge-success">{{shipData.destShortName}}</span></h5>
        <span matTooltip="Place of Delivery">
            Place of Delivery<br/><strong>Arrival <br/> {{shipData.estArrivalDate | date:'dd/MM/yyyy'}}</strong>
        </span>
      </ng-template>
    </mat-step>
  </mat-horizontal-stepper>
  
  <div class="row">
    <div class="col-8">
      <div class="card shadow-sm">
        <div class="card-header">
          <h6 class="my-0 text-blue text-shadow">Shipment Activities</h6>
        </div>
        <div class="card-body">
          <mat-vertical-stepper [linear]="false" #stepper>
              <ng-template matStepperIcon="number"></ng-template>
              <ng-template matStepperIcon="done"></ng-template>
            <mat-step *ngFor="let flow of flowData" [completed]="true" [editable]="false">
              <ng-template matStepLabel>
                {{flow.name}} <div class="right text-blue">{{flow.subDescription}}</div>
                <br/>
                <div class="font-small text-dark">{{flow.description}}</div>
              </ng-template>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow-sm">
        <div class="card-header">
          <h6 class="my-0 text-blue text-shadow">Shipment Details</h6>
        </div>
        <div class="card-body no-padding">
          <ul class="list-group list-group-flush font-small">
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">Bill Of Lading</div>
                  <div class="col-7 text-right">{{shipData.billOfLading}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-3 text-blue">Cargo</div>
                  <div class="col-9 text-right">{{shipData.carton}} CARTONS - {{shipData.weight}} kgs - {{shipData.cubicMeter}} cbm</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">Origin</div>
                  <div class="col-7 text-right">{{shipData.origin}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">Departure</div>
                  <div class="col-7 text-right">{{shipData.actDepartureDate | date:'dd/MM/yyyy'}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">DEP Vessel</div>
                  <div class="col-7 text-right">{{shipData.depVessel}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">DEP Container</div>
                  <div class="col-7 text-right">{{shipData.depContainer}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">Destination</div>
                  <div class="col-7 text-right">{{shipData.destination}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">Arrival</div>
                  <div class="col-7 text-right">{{shipData.estArrivalDate | date:'dd/MM/yyyy'}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">AR Vessel</div>
                  <div class="col-7 text-right">{{shipData.arrVessel}}</div>
              </div>
            </li>      
            <li class="list-group-item">
              <div class="row">
                  <div class="col-5 text-blue">AR Container</div>
                  <div class="col-7 text-right">{{shipData.arrContainer}}</div>
              </div>
            </li>                              
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>
