<div class="row">
  <div class="col-3 leftpane">
      <img [src]="supportIMG" class="img-responsive about-img">
      <h4 class="text-blue text-shadow text-center">Support Online</h4>
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item">
            <a href="skype:nngthu?chat" class="about-link">
              <span class="text-success p-1">Mr. Ngoc Thu </span>
              <img [src]="skypeIMG" class="skype-img">
              <span class="text-success">Mobile: +84‐983.000.368</span>
            </a>
          </li>
          <li class="list-group-item"></li>
        </ul>
      </div>
  </div>
  <div class="col-9 rightpane">
    <h4 class="text-blue text-shadow">{{title}}</h4>
    <br/>
    <p [innerHTML]="description"></p>
  </div>
</div>
