<div class="row">
  <div class="col-3 leftpane">
      <img src="/pics/support.png" class="img-responsive about-img">
      <h4 class="text-blue text-shadow">Support Online</h4>
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item text-center">
            <a href="skype:nngthu?chat" class="about-link">
              <span class="text-success p-2">Sales</span>
              <img src="/pics/skype.png" class="skype-img">
              <span class="text-success p-2">Mr. Thu</span>
            </a>
          </li>
          <li class="list-group-item"></li>
        </ul>
      </div>
  </div>
  <div class="col-9 rightpane">
    <h4 class="text-blue text-shadow">About Us</h4>
    <br/>
    <p>
        We are TOPAZ MARINE, one of the Asia’s leading transport companies. As a major non-vessel operating common carrier (NVOCC), 
        we can offer our customers competitive rates with all major shipping lines as well as flexible solutions for different sea 
        freight requirements to Incheon, Busan, Phnompenh, Sihanoukville, Singapore, Hongkong, Bangkok, Laem Chabang, Port Klang, 
        Pasir Gudang, Penang, Jakarta, Manila, Xiamen, Shanghai, Qingdao, Huangpu, Shekou.
        We specialize in solutions for full container loads (FCL) and less than container consolidated loads (LCL). We also provide 
        our customers with services such as Liner Agency, Freight Forwarder, CFS Distribution, Container Trading, One Way Free Use, 
        Custom Clearance, Marine Cargo Container Inspection and Supply Chain Management.
        We are committed to providing customized and cost-effective integrated solutions to our clients through comprehensive networks, 
        operational excellence and professional personnel.
        With high quality services and local expertise in the industry, we can ensure fast, safe delivery of your consignments. 
        Our team will be happy to assist you in all matters regarding your order.
    </p>
    <br/>
    <h6>TOPAZ CRITERIA</h6>
    <ul>
      <li>T – Top-notch</li>
      <li>O – Open-minded</li>
      <li>P – Persistent</li>
      <li>A – Ambitious</li>
      <li>Z – Zealous</li>
    </ul>
  </div>
</div>