<h1>Shipment Info</h1>
<hr>
<div class="card card-register mx-auto mt-5">
  <div class="card-header">Details</div>
  <div class="card-body">
    <form [formGroup] = "shipForm">
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label>Bill Of Lading</label>
            <input type="text" class="form-control text-uppercase" 
            placeholder="Bill Of Lading"
            formControlName="billOfLading"
            [maxLength]="30"
            autofocus>
          </div>
          <div class="col-md-4">
              <label>Mater B/L No</label>
            <input type="text" class="form-control text-uppercase" 
            placeholder="Mater B/L No"
            formControlName="voyageNo"
            [maxLength]="20"
            autofocus>
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
        </div>
      </div>
      <br/>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <h6 class="text-danger">Cargo</h6>
              <hr>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="form-row">
                    <div class="col-md-4">
                      <label>Cartons</label>
                      <input type="number" class="form-control" 
                      placeholder="Carton Quantity"
                      formControlName="carton">
                    </div>
                    <div class="col-md-4">
                      <label>Weight</label>
                      <input type="number" class="form-control" 
                      placeholder="Weight"
                      formControlName="weight">
                    </div>
                    <div class="col-md-4">
                      <label>Cubic Meter</label>
                      <input type="number" class="form-control" 
                      placeholder="Cubic Meter"
                      formControlName="cubicMeter">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
        </div>
      </div>
      <br/>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h6 class="text-danger">Transshipment</h6>
            <hr>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-row">
                  <div class="col-md-4">
                    <label>Port in Short Name</label>
                    <input type="text" class="form-control text-uppercase" 
                    placeholder="Short Name"
                    formControlName="transShortName"
                    [maxlength]="10">
                  </div>
                  <div class="col-md-4">
                    <label>Arrival Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                        name="dp" formControlName="transArrivalDate" 
                        ngbDatepicker 
                        #d5="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d5.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label>Departure Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                        name="dp" formControlName="transDepartureDate" 
                        ngbDatepicker 
                        #d6="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d6.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
        </div>
      </div>
      <br/>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h6 class="text-danger">Departure</h6>
            <hr>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Origin</label>
                        <input type="text" class="form-control text-capitalize" 
                        placeholder="Origin"
                        formControlName="origin"
                        [maxlength]="50">
                      </div>
                      <div class="col-md-4">
                        <label>Short Name</label>
                        <input type="text" class="form-control text-uppercase" 
                        placeholder="Short Name"
                        formControlName="depShortName"
                        [maxlength]="10">
                      </div>
                </div>
                <div class="form-row padding-top">
                  <div class="col-md-8">
                    <label>DEP Vessel</label>
                    <input type="text" class="form-control text-capitalize" 
                    placeholder="DEP Vessel"
                    formControlName="depVessel"
                    [maxlength]="30">
                  </div>
                  <div class="col-md-4">
                    <label>Act. Departure Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                        name="dp" formControlName="actDepartureDate" 
                        ngbDatepicker 
                        #d1="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row padding-top">
                  <div class="col-md-12">
                    <label>DEP Container</label>
                    <input type="text" class="form-control text-uppercase" 
                    placeholder="DEP Container"
                    formControlName="depContainer"
                    [maxlength]="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
        </div>
      </div>
      <br/>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h6 class="text-danger">Arrival</h6>
            <hr>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-row">
                  <div class="col-md-4">
                    <label>Destination</label>
                    <input type="text" class="form-control text-capitalize" 
                    placeholder="Destination"
                    formControlName="destination"
                    [maxlength]="50">
                  </div>
                  <div class="col-md-4">
                    <label>Short Name</label>
                    <input type="text" class="form-control text-uppercase" 
                    placeholder="Short Name"
                    formControlName="destShortName"
                    [maxlength]="50">
                  </div>
                  <div class="col-md-4">
                    <label>Est. Discharge Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" 
                      formControlName="estDischargeDate" 
                      ngbDatepicker 
                      #d2="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d2.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row padding-top">
                  <div class="col-md-8">
                    <label>AR Vessel</label>
                    <input type="text" class="form-control text-capitalize" 
                    placeholder="AR Vessel"
                    formControlName="arrVessel"
                    [maxlength]="30">
                  </div>
                  <div class="col-md-4">
                    <label>Est. Arrival Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" 
                      formControlName="estArrivalDate" 
                      ngbDatepicker 
                      #d3="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d3.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row padding-top">
                  <div class="col-md-12">
                    <label>AR Container</label>
                    <input type="text" class="form-control text-uppercase" 
                    placeholder="AR Container"
                    formControlName="arrContainer"
                    [maxlength]="100">
                  </div>
                </div>
            </div>
          </div>    
        </div>
        <div class="col-md-2"><label class='control-label'></label></div>
      </div>
      </div> 
      <br/>
      <div class="form-group required">
        <div class="form-row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h6 class="text-danger">Other</h6>
            <hr>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-row">
                  <div class="col-md-6">
                    <label>Created By</label>
                    <input type="text" class="form-control text-capitalize" 
                    placeholder="Created By"
                    formControlName="createdBy"
                    [maxlength]="50">
                  </div>
                  <div class="col-md-6">
                    <label>Booking Date</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" 
                      formControlName="bookedDate" 
                      ngbDatepicker 
                      #d4="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d4.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2"><label class='control-label'></label></div>
      </div>   
    </div>
    <br/>
    <div class="form-group">
        <div class="form-row">
          <div class="col-md-6"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-block" (click)="closeFunc()" [hidden]="isCreated || isClosed">Close Shipment</button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-block" (click)="saveFunc()" [hidden]="isClosed">Save</button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-danger btn-block" (click)="backFunc()">Back</button>
          </div>
          <div class="col-md-2"></div>
        </div>
    </div>
    </form>
  </div>
</div>